* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#main-body {
  margin: 1rem;
  margin-bottom: 3rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.cover-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/landing-bg.jpg');
  background-size: cover;
  min-height: 80vh;
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 60vh;
  max-width: 30vw;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  /* color: #ccc; */
  font-weight: bold;
  /* color:color-mix(in srgb, #34c9eb 20%, white) */
  background: -webkit-linear-gradient(#01969b, #7df0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.sub-cover {
  font-size: 1.5rem;
  margin: .5rem;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#getStarted {
  margin-top: 1rem;
  margin-left: 3rem;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.read-the-docs {
  color: #888;
}

#exam-inputs {
  margin: 1rem
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.segment {
  display: flex;
  width: auto;
  margin: 1rem;
  border: lightgray;
  padding: .3rem;
  box-shadow: 0 2px 4px 0 #afb1b1;
}

.page-title {
  margin: 1rem;
}

input {
  margin: 0 1rem;
  padding: .5rem;
}

.questions-container {
  flex: 1;
  height: 50vh;
  overflow-y: auto;
}

.selection-box {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: .8em;
}

.selection-list-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.selected-questions {
  flex: 1;
  height: 50vh;
  overflow-y: auto;
}

#isInstructor {
  margin: 1rem;
  margin-bottom: 1.5rem;
}
