* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Philosopher', sans-serif;
}

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#main-body {
  margin: 1rem;
  margin-bottom: 3rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.cover-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/landing-bg.jpg');
  background-size: cover;
  min-height: 80vh;
  min-width: fit-content;
}

.cover-filter {
  display: flex;
  background: rgba(0, 0, 0, .4);
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  max-height: fit-content;
  padding: 2rem;
  border-radius: 15px;
  margin: 1rem;
}

.cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  font-weight: bold;
  font-size: calc(2.5rem + 1.5vw);
  background: -webkit-linear-gradient(#01969b, #7df0f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.sub-cover {
  font-size: calc(.75rem + .5vw);
  margin: .5rem;
  color: white;
  font-weight: bold;
}

#getStarted {
  margin-top: 1rem;
  /* margin-left: 3rem; */
  align-self: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.page-container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

li {
  list-style: none;
  padding: 0 .3rem;
}

table {
  border-collapse: collapse;
}

td {
  border-top: 1px dashed lightgrey;
  padding: 3px;
  font-size: calc(.5rem + .2vw)
}

th, .table-title {
  color: #4dd7db;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px dashed lightgrey;

}

.read-the-docs {
  color: #888;
}

#exam-inputs {
  margin: 1rem
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.segment {
  display: flex;
  width: auto;
  margin: 1rem;
  border: lightgray;
  padding: .3rem;
  box-shadow: 0 2px 4px 0 #afb1b1;
  min-height: 20vh;
  overflow-x: scroll;
}

.section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: .5rem;
}

.page-title {
  margin: 1rem;
}

input {
  margin: 0 1rem;
  padding: .5rem;
}

form div input {
  margin: .5rem;
}

#dropdown {
  align-self: center;
  min-width: 10%;
}

.questions-container {
  flex: 1;
  height: 50vh;
  overflow-y: auto;
}

.selection-box {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: .8em;
  display: flex;
  flex-direction: column;
}

.selection-list-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  padding-left: 1rem;
  border-bottom: 1px dashed lightgrey;
}

.btn-main-function {
  height: fit-content;
  align-self: center;
  margin-top: 1rem;
  background-color: #4dd7db;
  color: white;
  box-shadow: 0 4px 8px 0 #088c8c;
}

.submit-btn {
  border-radius: 5px;
  border: none;
  margin: .5rem;
  margin-bottom: 1rem;
}

.delete-btn {
  background-color: #01969b;
  color: white;
}

.selected-questions {
  flex: 1;
  height: 50vh;
  overflow-y: auto;
}

#isInstructor {
  margin: 1rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 720px) {
  .card-body {
    display: flex;
    flex-direction: column;
  }
  .form-input {
    display: flex;
    flex-direction: column;
  }
  .page-container {
    flex-direction: column;
  }
  #student-list-container {
    flex-direction: column-reverse;
  }
  .table-title {
    font-size: calc(.8rem + .2vw);
  }
  td {
    font-size: 75%;
    overflow-wrap: break-word;
  }
  #create-exam-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .questions-container,
  .selected-questions {
    max-height: 60vh;
    overflow-y: scroll;
  }
}