:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --button-border: #088c8c;
  --button-background: #f9f9f9;
  --a-color: var(--button-border);
}

a {
  font-weight: 500;
  color: var(--a-color);
  text-decoration: inherit;
  border: 1px solid transparent;
}
a:hover {
  color: var(--a-color);
  border-color: var(--button-border);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem .8rem;
  margin: .2rem .4rem;
  font-size: .8rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  /* background-color: green; */
  box-shadow: 0 2px 4px 0 #afb1b1; 
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--button-border);
  transform: scale(1.1);
}
button:focus,
button:focus-visible {
  outline: 4px auto #088c8c;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #088c8c;
  }
  button {
    background-color: #f9f9f9;
  }
}
