#exam-inputs {
    margin: 1rem
}

.segment {
    display: flex;
    width: auto;
    margin: 1rem;
    border: lightgray;
    padding: .3rem;
    box-shadow: 0 2px 4px 0 #afb1b1;
}

input {
    margin: 0 1rem;
    padding: .5rem;
}

.questions-container {
    flex: 1;
    height: 50vh;
    overflow-y: auto;
}

.selection-box {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: .8em;
}

.selection-list-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.selected-questions {
    flex: 1;
    height: 50vh;
    overflow-y: auto;
}