footer {
    background-color: #4dd7db;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    box-shadow: 0 -6px 16px 0 #088c8c;
}

.backbtn {
    background-color:#f6f8fa;
    color: #088c8c;
    padding: 0 3px;
    width: 5rem;
    border-radius: 5px;
    border: 1px solid #088c8c;
    box-shadow: 0 8px 16px 0 #088c8c;
    margin: 2px;
    font-size: .9rem;
}

.backbtn:hover {
    background-color: #d9e3f3;
    color: #057575;
}

themecolorsForLater {
    background-color: #4dd7db;
    background-color: #f0f5f5;
    background-color: #088c8c;
    background-color: #f8f8f8;
    background-color: #f6f8fa;
    /* #4 and #5 were old header and footer bg colors */
}
