footer {
    display: flex;
    padding: .3rem 0;
    background-color: #4dd7db;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    box-shadow: 0 -4px 16px 0 #088c8c;
}

.footer-content {
    width: 85%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.backbtn {
    background-color:#f0f5f5;
    color: #088c8c;
    padding: 0 3px;
    width: 5rem;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 #088c8c;
    margin: .3rem;
    font-size: .9rem;
}

.backbtn:hover {
    background-color: #ffffff;
    color: #057575;
    transform: scale(1.1);
}

themecolorsForLater {
    background-color: #4dd7db;
    background-color: #f0f5f5;
    background-color: #088c8c;
    background-color: #f8f8f8;
    background-color: #f6f8fa;
    background-color: #f6f8fa;
    /* #4 and #5 were old header and footer bg colors */
}
