.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

header {
    display: 'flex';
    background-color: #4dd7db;
}

.header-container {
    display: flex;
    box-shadow: 0 6px 12px 0 #088c8c;
}

.title-bar {
    width: 85%;
}

.heading-logo {
    height: 4rem;
    width: 4rem;
}

#header-title {
    color: #f6f8fa;
    text-shadow: 2px 2px 4px #c5c7c9;
    font-size: 4rem;
    font-family: "Protest Guerrilla", sans-serif;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.logbtn,
.mebtn {
    background-color:#f0f5f5;
    color: #088c8c;
    padding: 0 3px;
    width: 4rem;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 #088c8c;
    margin: .3rem;
    font-size: .9rem;
}

.logbtn:hover,
.mebtn:hover {
    background-color: #ffffff;
    color: #057575;
    transform: scale(1.1);
}

.logbtn:focus,
.logbtn:focus-visible,
.mebtn:focus,
.mebtn:focus-visible {
    outline: 4px auto #088c8c;
}
